<div class="input-group">
  <%= text_field_tag 'tinyfied', link.getTinyUrl, readonly: true, class: "form-control" %>
  <div class="input-group-btn">
    <button class="tinyfied-copy btn btn-default" data-clipboard-target="#tinyfied" data-toggle="tooltip" data-placement="top" title="Copy Tiny Url"><span class="glyphicon glyphicon-copy"></span></button>
    <!-- <button class="btn btn-default" onclick="window.open('<%= link.getTinyUrlInfo  %>')" data-toggle="tooltip" data-placement="top" title="View Details"><span class="glyphicon glyphicon-eye-open"></span></button> -->
    <button class="btn btn-primary" onclick="window.open('<%= link.getTinyUrl %>')" data-toggle="tooltip" data-placement="top" title="Open Tiny Url" name="open">
      <span class="glyphicon glyphicon-folder-open"></span>
    </button>
  </div>
</div>