<div class="input-group">
  <%= text_field_tag 'tinified', link.getTinyUrl, disabled: true, class: "form-control" %>
  <div class="input-group-btn">
    <button class="btn btn-default"><span class="glyphicon glyphicon-copy"></span></button>
    <button class="btn btn-primary"><span class="glyphicon glyphicon-folder-open"></span></button>
  </div>
</div>